<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Mira -  Minimal eCommerce HTML Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
		
		<!-- all css here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/pe-icon-7-stroke.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <link rel="stylesheet" href="assets/css/shortcodes/shortcode.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        <div class="waraper">
            
            <!-- breadcrumb start -->
            <div class="breadcrumb-area">
                <div class="container-fluid text-center d-flex justify-content-center">
                    <div class="breadcrumb-stye ptb-40 mt-5" id="about_us_head">
                        <h2 class="page-title">about us</h2>
                    </div>
                </div>
            </div>
            <!-- breadcrumb end -->
            <!-- shopping-cart-area start -->
            <div class="about-area ptb-20">
                <div class="container-fluid d-flex">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 col-lg-offset-2">
                            <div class="about-text">
                                <div class="about-text-title text-justify">
                                    <h2 class="text-center">
                                        welcome to twist market.
                                    </h2>
                                    <p>TM's main mission is to serve as a "fashion link" between some Asian fashion players and European brands or manufacturers.</p>

                                    <p>Since LCM's creation in 2000, we have provided our customers with in-depth knowledge of the Fashion industry, its marketing and more recently its developments in the digital fashion sector.
                                    Thanks to our long and deep experience within this industry in Europe and Asia, TM can accompany its customers in the constant evolution, the changes and the needs of fashion.</p>

                                    <p>Our objective is to facilitate, for our customers, the connections, business flow and communications between Europe and Asia. To do this, our customers can count on a unique Franco-Japanese organization based in Paris, on a significant database of European suppliers as well as on a large network within the fashion industry in Europe and Asia.</p>

                                    <p>Since 2008, TM has focused its activities primarily on the Japanese market by establishing and strengthening its collaborations with major Japanese companies such as Shosha, fashion distributors, department stores and major retailers.</p>
                                <div class="about-counter">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="single-count text-center mb-30">
                                                <div class="count-title">
                                                    <h2 class="count">20</h2>
                                                    <span>Years in Business</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="single-count text-center mb-30">
                                                <div class="count-title">
                                                    <h2 class="count">200</h2>
                                                    <span>Clients and Partners</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="single-count text-center mb-30">
                                                <div class="count-title">
                                                    <h2 class="count">15</h2>
                                                    <span>Billion Sales</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-area">
                                    <h2 class="main-title">What people say?</h2>
                                    <div class="testimonial-active d-flex">
                                        <div class="single-testimonial text-center">
                                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dol in reprehenderit in."</p>
                                            <h2>Elodie Letellier</h2>
                                            <h3>Executive mentor</h3>
                                        </div>
                                        <div class="single-testimonial text-center">
                                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dol in reprehenderit in."</p>
                                            <h2>Félix Gaudé</h2>
                                            <h3>CEO at The Hacking Project</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="our-team">
                                    <h2 class="main-title">Our team members</h2>
                                    <div class="row mb-5">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="single-team">
                                                <div class="team-img-name">
                                                    <img class="member-image" alt="" src="https://active-storage-lcm.s3.eu-west-3.amazonaws.com/romain.jpg">
                                                    <div class="member-title text-center">
                                                        <h2>Romain Cabirol</h2>
                                                        <p>COO, Co-Founder</p>
                                                    </div>
                                                </div>
                                                <div class="member-info text-center">
                                                    <div class="member-social d-flex justify-content-center">
                                                        
                                                            <li><%= link_to "https://www.facebook.com/Cabirol.Romain" do %>
                                                            <i class="fa fa-facebook"></i>
                                                            <% end %></li>  
                                                            <li><%= link_to "https://twitter.com/forkhembo" do %>
                                                            <i class="fa fa-twitter"></i>
                                                            <% end %></li>  
                                                            <li><%= link_to "https://www.linkedin.com/in/romaincabirol/" do %>
                                                            <i class="fa fa-linkedin"></i>
                                                            <% end %></li>  
                                                  
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="single-team team-mrg">
                                                <div class="team-img-name">
                                                    <img class="member-image" alt="" src="https://active-storage-lcm.s3.eu-west-3.amazonaws.com/dhiya.png">
                                                    <div class="member-title text-center">
                                                        <h2>Dhiya Kabache</h2>
                                                        <p>CTO, Co-Founder</p>
                                                    </div>
                                                </div>
                                                <div class="member-info text-center">
                                                    <div class="member-social d-flex justify-content-center">
                                                        <li><%= link_to "https://www.facebook.com/dhiya.bak.5" do %>
                                                            <i class="fa fa-facebook"></i>
                                                            <% end %></li>  
                                                        <li><%= link_to "https://twitter.com/DevDhiya1" do %>
                                                            <i class="fa fa-twitter"></i>
                                                            <% end %></li>  
                                                        <li><%= link_to "https://www.linkedin.com/in/dhiya-bakache-a95b48112/" do %>
                                                            <i class="fa fa-linkedin"></i>
                                                            <% end %></li>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="single-team team-mrg">
                                                <div class="team-img-name">
                                                    <img class="member-image" alt="" src="https://active-storage-lcm.s3.eu-west-3.amazonaws.com/arthur.png">
                                                    <div class="member-title text-center">
                                                        <h2>Arthur Klein</h2>
                                                        <p>CEO, Co-Founder</p>
                                                    </div>
                                                </div>
                                                <div class="member-info text-center">
                                                    <div class="member-social d-flex justify-content-center">
                                                        <li><%= link_to "https://www.facebook.com/arthur.klein2" do %>
                                                            <i class="fa fa-facebook"></i>
                                                            <% end %></li>  
                                                        <li><%= link_to "https://twitter.com/KleinArthur4" do %>
                                                            <i class="fa fa-twitter"></i>
                                                            <% end %></li>  
                                                        <li><%= link_to "www.linkedin.com/in/arthur-klein-6a8593122" do %>
                                                            <i class="fa fa-linkedin"></i>
                                                            <% end %></li>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="login">
                                <div class="login-form-container">
                                    <div class="login-text">
                                        <h2>login</h2>
                                        <span>Please login using account detail bellow.</span>
                                    </div>
                                    <div class="login-form">
                                        <form action="#" method="post">
                                            <input type="text" name="user-name" placeholder="Username">
                                            <input type="password" name="user-password" placeholder="Password">
                                            <div class="button-box">
                                                <div class="login-toggle-btn">
                                                    <input type="checkbox" id="remember">
                                                    <label for="remember">Remember me</label>
                                                    <a href="#">Forgot Password?</a>
                                                </div>
                                                <button type="submit" class="default-btn floatright">Login</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal end -->
        </div>
        

		<!-- all js here -->
        <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.meanmenu.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/ajax-mail.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>