
<!-- breadcrumb start -->
            <div class="breadcrumb-area">
                <div class="container-fluid text-center">
                    <div class="breadcrumb-stye gray-bg ptb-100">
                        <h2 class="page-title">register page</h2>
                    </div>
                </div>
            </div>
            <!-- breadcrumb end -->
            <!-- register-area start -->
            <div class="register-area ptb-100">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-lg-4 col-lg-offset-4">
                            <div class="login">
                                <div class="login-form-container">
                                    <div class="login-text">
                                        <h2>Register</h2>
                                        <span>Please Register using account detail bellow.</span>
                                    </div>
                                    <div class="login-form">
                                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                                        <%= render "devise/shared/error_messages", resource: resource %>
                                  <form>
                            
                                        <div class="field">
                                          <%= f.label :email %><br />
                                          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded" %>
                                        </div>
                                    <div class="form-row-top">
                                    <div class="form-row">
                                      <div class="col">
                                        <div class="field">
                                          <%= f.label :password %>
                                          <% if @minimum_password_length %>
                                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                                          <% end %><br />
                                          <%= f.password_field :password, autocomplete: "new-password", class: "rounded" %>
                                        </div>
                                      </div>

                                      <div class="col">
                                        <div class="field">
                                          <%= f.label :password_confirmation %><br />
                                          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded" %>
                                        </div>
                                      </div>
                                    </div>
                                    </div>

                                     <div class="form-row">
                                      <div class="col">
                                        <div class="field">
                                          <%= f.label :first_name %><br />
                                          <%= f.text_field :first_name, class: "rounded" %>
                                        </div>
                                      </div>

                                      <div class="col">
                                        <div class="field">
                                          <%= f.label :last_name %><br />
                                          <%= f.text_field :last_name, class: "rounded" %>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="form-row">
                                      <div class="col">
                                        <div class="field">
                                          <%= f.label :company_name %><br />
                                          <%= f.text_field :company_name, class: "rounded" %>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="form-row-bottom">
                                      <div class="form-row">
                                      <div class="col">
                                        <div class="field">
                                          <%= f.label :website %><br />
                                          <%= f.text_field :website, class: "rounded" %>
                                        </div>
                                      </div>

                                      <div class="col">
                                        <div class="actions">
                                          <%= f.submit "Sign up", :class => 'btn-signup btn-success rounded' %>
                                          <%= link_to 'Log in', new_user_session_path, :class => 'btn-login' %>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                      <% end %>
                                    </div>
                                  </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- register-area end -->
           
        </div>
    <!-- all js here -->
        <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.meanmenu.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/waypoints.min.js"></script>
        <script src="assets/js/ajax-mail.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
