<h1>users#show</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>user:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>User:</strong>
  <%= @user.id %>
</p>

<%= link_to 'Edit profil', edit_user_path(@user) %> |
<%= link_to 'Add product', new_product_path %>
