<h1>Brands#show</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>company_name:</strong>
  <%= @brand.company_name %>
</p>

<p>
  <strong>company_name:</strong>
  <%= @brand.company_name %>
</p>

<%= link_to 'Edit profil', edit_brand_path(@post) %> |
<%= link_to 'Add product', new_product_path %>
