
<div class="shop-area ptb-90">
  <div class="container-fluid">
    <div class="shop-style-all">

      <% @brands.each do |brand| %>
      <div class="col-md-3 col-sm-6 col-xs-12 grid-item cat1">
        <div class="shop hover-style mb-30">
          <div class="shop-img">
            <a href="<%= brand_path(:id)%>">
              <img src="https://i.imgur.com/uwliklH.jpg" alt="">
            </a>
            <div class="shop-title title-style-1">
              <h3><a href="<%= brand_path(brand.id)%>"><%= brand.company_name %></a></h3>
              <h3><a href="<%= brand_path(brand.id)%>"><%= brand.website %></a></h3>

            </div>

          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
