<p id="notice"><%= notice %></p>
<div class="container m-5">
<div class="card">
  <div class="card-header">
    Profile
  </div>
  <div class="card-body">
    <p class="card-text">Company name : <%= @brand.company_name %></p>
    <p class="card-text">First name : <%= @brand.first_name %></p>
    <p class="card-text">Last name : <%= @brand.last_name %></p>
    <p class="card-text">Phone number : <%= @brand.phone_number %></p>
    <p class="card-text"><a href="<%= @brand.website%>">Website</a></p>
    <%= link_to 'Edit profil', edit_brand_path(:id), class:"btn btn-primary mr-3" %>
    <%= link_to 'Add product', new_product_path, class:"btn btn-success" %>

  </div>
</div>
</div>