
<!-- FORM TO ADD A NEW PRODUCT-->

<div class="card-body">
  <p>Photo de la collection: </p>
  <div class="d-flex flex-row mb-3">
    <div class="img_product"> 
    <div class="d-flex flex-column col-10 mb-2">
      <%= form_tag(:controller => "products", :action => "create", :method => "post", :class => "load_images", multipart: true) do %>
        <%= text_field_tag :title, nil, placeholder: 'Title', class: "mb-2" %>
        <%= text_field_tag :description, nil, placeholder: 'Description', class: "mb-2" %>
        <%= text_field_tag :price, nil, placeholder: 'Price', class:"mb-2" %>
        <%= text_field_tag :reference, nil, placeholder: 'Reference', class:"mb-2" %>
        <%= number_field_tag :quantity, nil, placeholder: 'Quantity', class:"mb-2" %>
        <%= text_field_tag :gender, nil, placeholder: 'Gender', class:"mb-2" %>
        <%= file_field_tag :product_images, :multiple => true, direct_upload: true %>
        <%= submit_tag "upload new photos ", class:"btn btn-success btn-sm" %>
      <% end %>
    </div>
    </div>
  </div>
</div>