<footer class="footer-area pt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="footer-logo">
          <p>Lorem ipsum dolor sit amet tempor, consectetur adipisicing.</p>
          <ul>
            <li>
              <%= link_to "https://www.facebook.com/devitems/?ref=bookmarks" do
              %>
              <i class="fa fa-facebook"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://linkedin.com" do %>
              <i class="fa fa-linkedin"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://instagram.com/devitems" do %>
              <i class="fa fa-instagram"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-7">
        <div class="row">
          <div class="col-md-auto col-sm-6">
            <div class="footer-title res-mrg">
              <h3>Support</h3>
              <div class="footer-menu">
                <ul>
                  <li><%= link_to "Careers"%></li>
                  <li><%= link_to "Terms & Condition"%></li>
                  <li><%= link_to "Delivery Information"%></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 hidden-sm">
            <div class="footer-title res-mrg">
              <h3>Quick Links</h3>
              <div class="footer-menu">
                <ul>
                  <% if current_user %>
                  <li>
                    <%= link_to "My Profile", user_path(current_user.id)%>
                  </li>
                  <% end %> <% if current_brand %>
                  <li>
                    <%= link_to "My Account", brand_path(current_brand.id)%>
                  </li>
                  <% end %>
                  <li><%= link_to "Checkout"%></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="footer-title res-mrg-2">
          <h3>newsletter</h3>
          <div class="footer-newsletter d-flex">
            <div id="mc_embed_signup" class="subscribe-form">
              <form
                action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef"
                method="post"
                id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                class="validate"
                target="_blank"
                novalidate
              >
                <div id="mc_embed_signup_scroll" class="mc-form">
                  <input
                    type="email"
                    value=""
                    name="EMAIL"
                    class="email"
                    placeholder="Your email address"
                    required
                  />
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div class="mc-news" aria-hidden="true">
                    <input
                      type="text"
                      name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef"
                      tabindex="-1"
                      value=""
                    />
                  </div>
                    <input
                      type="submit"
                      value="Subscribe"
                      name="subscribe"
                      id="mc-embedded-subscribe"
                      class="button p-0 mt-4"
                    />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="footer-bottom text-center ptb-20 mt-5">
      <p>
        © 2019 <%= link_to "Arthur, Dhiya, Romain",
        "https://github.com/arthurjacobklein/app-lcm/", target: "_blank" %>. All
        Rights Reserved.
      </p>
    </div>
  </div>
</footer>
